<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/ba309ddf-34ea-48ea-99d0-d40296d6c3cf/resourceGroups/rg-20060000-Apollo-CFIDSelect-Dev/providers/Microsoft.ContainerRegistry/registries/crcfidselectdev</ResourceId>
    <ResourceName>crcfidselectdev</ResourceName>
    <ResourceGroup>rg-20060000-Apollo-CFIDSelect-Dev</ResourceGroup>
    <Subscription>HBM-FDBUS-PROD</Subscription>
    <RegistryUrl>https://crcfidselectdev.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>